#ga-results-page.ga-results-ui
  +standardPanel('ga-instagram-results-panel', 'ga-instagram-results',
      'Instagram and Twitter Results',
      "These are the instagram results based on the Caption Search in the Filters panel.",
      'hidden')(class="hidden")
    .results-table.al-scroller
      table#ga-instagram-results-table
        tr
          th#ga-instagram-results-sort.log-as-button
            i.icon-sort
            |  Post Date
          th Caption
#ga-instagram-overlay
  .ga-instagram-overlay-title-bar
    button.ga-instagram-overlay-goto.btn.btn-info.btn-sm
      i.icon-target
      |  Center
    .ga-instagram-overlay-close-button.log-as-button
      i.icon-cancel
  .ga-instagram-overlay-image
    img
  .ga-instagram-overlay-text
    .ga-instagram-overlay-arrow.log-as-button
      i.icon-right-circled
    span.ga-instagram-overlay-date
    span.ga-instagram-overlay-caption
  .ga-instagram-overlay-position
  .ga-instagram-overlay-link
    a(target="_blank")
#ga-graph-page.ga-results-ui
  +standardPanel('ga-graph-panel', 'ga-graph', 'Graphs',
      "These graphs are based on data selected in the Filters panel.")
    .no-graph
      .graph-region
        .graph-clip
          .graph-plot
      .button-region
        button.btn.btn-sm.circle-btn.ga-add-graph(title="Add a graph")
          i.icon-plus
    .graph#ga-graph-template.hidden
      .graph-region
        .graph-waiting.hidden
          | Waiting for data ...
        .graph-plot
      .button-region
        button.btn.btn-sm.circle-btn.ga-remove-graph(title="Remove graph")
          i.icon-cancel
        button.btn.btn-sm.circle-btn.ga-graph-settings(title="Graph settings")
          i.icon-cog
        button.btn.btn-sm.circle-btn.ga-add-graph(title="Add a graph")
          i.icon-plus
