@import 'nib'

html, body
  height 100%
  overflow hidden

*:not(i)
  font-family 'Droid Sans',sans-serif,'Apple Color Emoji','Segoe UI Emoji','NotoColorEmoji','Segoe UI Symbol','Android Emoji','EmojiSymbols'
  font-smoothing antialiased

i
  font-smoothing antialiased

body
  padding 0
  margin 0
  word-wrap break-word

a
  cursor pointer
  text-decoration none !important

.g-validation-failed-message
  font-weight bold
  color #dd2222
  margin-top 10px

.modal
  overflow hidden

.form-control
  color black
input[type="checkbox"]
  box-shadow none

.tooltip
  z-index 10
