@import 'nib'

html, body
  height 100%
  overflow hidden

*:not(i)
  font-family 'Droid Sans',sans-serif,'Apple Color Emoji','Segoe UI Emoji','NotoColorEmoji','Segoe UI Symbol','Android Emoji','EmojiSymbols'
  font-smoothing antialiased

i
  font-smoothing antialiased

body
  padding 0
  margin 0
  word-wrap break-word

a
  cursor pointer
  text-decoration none !important

.g-validation-failed-message
  font-weight bold
  color #dd2222
  margin-top 10px

.modal
  overflow-y auto
  .btn-small
    padding 3px 6px
  h4
    font-size 16px
    font-weight bold
.modal-header
  padding 8px
  background #FF8000
  color black
.modal-body
  padding 8px
.modal-content
  border-radius 0
.modal-footer
  margin-top 5px
  padding 8px
.modal-backdrop.in
  opacity .25
