@import 'nib'

#ga-main-page
  label#ga-test-enable-header
    display block
    margin-top 5px
    margin-bottom -7px
.ga-test-group
  height 20px
#ga-test-enable-header:only-child
  padding-top 5px
#ga-speed-test-results
  font-size 12px
