.header .rel {
  display: none;
}
.header .headertitle {
  padding-left: 1em;
}
div.document {
  line-height: 1.2em;
}
div.document p {
  margin-bottom: .75em;
}
.footer .left {
  display: none;
}
div.footer-wrapper {
  min-height: inherit;
}
div.document li.toctree-l1 {
  margin: 0;
}
div.document ul {
  margin-top: 0;
  margin-bottom: 0;
}
video {
  margin-bottom: 12px;
}
